models/
*/models/
!models/.gitkeep

data/
!data/splits/
results/
!results/tables/
!results/figures/

__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/
ENV/
venv_dsa4213/

.DS_Store
Thumbs.db
.vscode/